body{
    background-color: #fff;
    margin: 10px;
    color: black;
}

.title{
    text-align: center;
    text-transform: uppercase;
	background: linear-gradient(to right, #CA4246 16%,  #E16541 33%, #F18F43 30%, #F18F43 20%, #476098 66%, #476098 83%, #A7489B 83%);
    background-size: 57%;
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
	font-weight: 700;
}


.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f5f6fa 50%, #e6e6e6 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 7s;
}

.bg3 {
    animation-duration: 6s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

#group{
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

#group div {
    display: inline-block;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 47%;
    margin-bottom: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container{
    margin: 10px;
    align-items: center;
    width: 100%;
}

