.box {
    margin-top: 97px;
}

.form-box{
    width: 700px;
}

body {
    background-color: rgb(240, 202, 202);
    max-width: 100%;
}


.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f5f6fa 50%, #e6e6e6 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 7s;
}

.bg3 {
    animation-duration: 6s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}