body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding-left: 20px;
    background-image: linear-gradient( 140deg, #ffe 0%, #abcd 50%, #fee 75%);
    ;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 40px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none!important;
}

.logo_name {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient( #CA4246 16.666%,  #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
    background-size: 57%;
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
}

.logo_name:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
}

@keyframes rainbow-text-animation {
    0% {
        background-size: 57%;
        background-position: 0 0;
    }
    20% {
        background-size: 57%;
        background-position: 0 1em;
    }
    100% {
        background-size: 300%;
        background-position: -9em 1em;
    }
}

@keyframes rainbow-text-animation-rev {
    0% {
        background-size: 300%;
        background-position: -9em 1em;
    }
    20% {
        background-size: 57%;
        background-position: 0 1em;
    }
    100% {
        background-size: 57%;
        background-position: 0 0;
    }
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style: none!important;
    font-size: large;
    display: block;
    padding: 5px 20px;
    text-decoration: none!important;
}

a {
    font-size: large;
    display: block;
    padding: 5px 20px;
    text-decoration: none!important;
}

nav ul li a:hover {
    background: #5f857c;
    border-radius: 20px;
    color: #fff;
}

nav ul li:hover {
    background: #5f857c;
    border-radius: 20px;
    color: #fff;
}